div.button-option.d-flex.justify-content-center
    a.btn.btn-outline-primary class="#{request.path == '/' ? "active":''}" type="button" href="#{request.path}" ALBUM
    a.btn.btn-outline-primary class="#{request.path == request.path + "/photo" ? "active":''}" type="button" href="#{request.path}/photo" PHOTO
