<div id="<%= dom_id album_attachment %>">
  <p>
    <strong>Album:</strong>
    <%= album_attachment.album_id %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= album_attachment.img_url %>
  </p>

</div>
