<p style="color: green"><%= notice %></p>

<h1>Album attachments</h1>

<div id="album_attachments">
  <% @album_attachments.each do |album_attachment| %>
    <%= render album_attachment %>
    <p>
      <%= link_to "Show this album attachment", album_attachment %>
    </p>
  <% end %>
</div>

<%= link_to "New album attachment", new_album_attachment_path %>
